<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
  <!-- returns a set of users and renders each using _user.html.er by default -->
</ul>

<%= will_paginate %>
